@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Itim&family=Permanent+Marker&family=Satisfy&family=Spicy+Rice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Itim&family=Noto+Sans+JP:wght@100..900&family=Permanent+Marker&family=Satisfy&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Spicy+Rice&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(0, 0, 0);
}

header {
    display: flex;
    flex-direction: row;
    height: 60px;
    background-color: rgb(0, 0, 0);
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.596);
    position: relative;
    z-index: 2;
}

.hed1 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hed1 h2 {
    font-size: 20px;
    color: white;
    font-family: "Satisfy", serif;
}

.hed1 img {
    height: 40px;
}

.hed2 {
    display: flex;
}

.hed2 ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
}

.hed2 li {
    width: 212px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s
}
.hed2 li:hover{
    background-color: #ff00ff;
}
.hed2 li:hover a {
    color: #000;
}
.hed2 a {
    color: white;
    text-decoration: none;
    font-family: "Spicy Rice", serif;
    font-weight: 100;
}
.hed2 img {
    height: 24px;
    padding-right: 5px;
}

.ban {
    background: linear-gradient(to right, black, rgba(0, 0, 0, 0.151)), url("../peliculas2/venom/venom1.png");
    width: 100%;
    height: calc(100vh - 60px);
    background-size: cover;
    display: flex;
    flex-direction: row;
}

.ban1 {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.ban1 img {
    width: 400px;
    height: 150px;
    transition: transform 0.3s;
}
.ban1 img:hover{
    transform: scale(1.1);
}
.ban1 .img1 {
    width: 110px;
    height: 20px;
}
.ban1 h2 {
    width: 100%;
    color: magenta;
    font-family: "Permanent Marker", serif;
    text-shadow: 2px -2px 0 #000,
            2px -2px 0 #000,
            -2px 2px 0 #000,
            2px 2px 0 #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sip {
    border-top: 2px solid rgb(183, 0, 255);
    padding: 5px 0;
}

.sip p {
    color: white;
    font-family: "Exo 2", sans-serif;
    text-align: center;
    font-size: 18px;
}

.ban2 {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 20px 0;
}

.ban2 h2 {
    color: rgb(0, 169, 199);
    font-family: "Permanent Marker", serif;
    text-shadow: 2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000;

}

.ban23 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.ban21 {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.493);
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    border: 1px solid;
    border-color: rgb(56, 5, 71) rgb(66, 16, 68) rgb(0, 0, 0) rgb(0, 0, 0);
}

.ban21 h2 {
    font-size: 20px;
    font-family: "Spicy Rice", serif;
    color:magenta;
    font-weight: lighter;
}

.ban21 iframe {
    width: 280px;
    height: 200px;
    border-radius: 10px;
}

.cont {
    display: flex;
    flex-direction: row;
    box-shadow: 0 30px 40px black, 0 -30px 40px black;
}

.cont1 {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.cont3 {
    display: flex;
    flex-direction: row;
    background-color: black;
    padding: 10px 10px 10px 20px;
    border-bottom: 2px solid rgb(255, 0, 255);
}

.cont33 {
    display: flex;
    flex-direction: column;
    padding-right: 10px;
}

.cont33 h2 {
    font-family: "Permanent Marker", serif;
    color: #00ccff;
    font-size: 20px;
}

.cont33 p {
    font-family: "Spicy Rice", serif;
    color: white;
    text-align: justify;
    font-weight: lighter;
    font-size: 16px;
}

.cont34 {
    display: flex;
    flex-direction: row;
    padding: 10px 0;
}

.cont34 img {
    object-fit: cover;
    width: 150px;
    height: 200px;
    padding-right: 10px;
}

.cont strong {
    color: #a200ff;
    font-family: "Permanent Marker", serif;
}

.cont11 {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    background-color: rgb(41, 41, 41);
    border-bottom: 2px solid #a200ff;
}

.cont111::-webkit-scrollbar {
    height: 8px;
}

.cont111::-webkit-scrollbar-track {
    background: #535353;
    border-radius: 10px;
}

.cont111::-webkit-scrollbar-thumb:horizontal {
    background: #a200ff;
    border-radius: 10px;
}

.cont11 h2 {
    font-family: "Permanent Marker", serif;
    color: #a200ff;
    padding-bottom: 20px;
    font-size: 25px;
}

.cont111 {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    padding: 5px;
}

.cont1111 {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    align-items: center;
}

.cont1111 img {
    object-fit: cover;
    height: 130px;
    width: 130px;
    border-radius: 100px;
    border: 2px solid;
    border-color: black;
    
}

.cont1111 img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 5px magenta;
}

.cont1111 h2 {
    font-size: 15px;
    font-family: "Spicy Rice", serif;
    color: rgb(255, 255, 255);
    font-weight: lighter;
    padding: 5px 0;
}

.cont0 {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    padding: 20px;
}

.cont0 h2 {
    font-family: "Permanent Marker", serif;
    color: rgb(0, 140, 255);
    padding-bottom: 10px;
    font-size: 25px;
}

.cont00 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
}

.cont000 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-right: 40px;
    width: 180px;
}

.cont000 img {
    object-fit: cover;
    width: 150px;
    height: 220px;
}
.cont000 img:hover{
    border: 4px solid mediumvioletred;
}

.cont000 h2 {
    font-size: 15px;
    font-family: "Spicy Rice", serif;
    color: rgb(255, 255, 255);
    font-weight: lighter;
    padding: 7px 0 10px;
    text-align: center;
}

.cont000 button {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(0, 162, 255);
    border: 2px solid rgb(0, 0, 0);
}

.cont000 a {
    text-decoration: none;
    font-family: "Permanent Marker", serif;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 800;
}

.cont000 button:hover {
    transform: scale(1.1);
    background-color: rgb(225, 0, 255);
}

.cont2 {
    background: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0.548)), url("../peliculas2/venom/fondo.jpg");
    background-size: cover;
    background-position: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.cont22 {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    border: 1px solid;
    border-color: rgba(4, 0, 255, 0.651);
    padding: 5px;
}

.cont2 h2 {
    color: rgb(0, 209, 224);
    font-family: "Permanent Marker", serif;
    font-size: 25px;
}

.cont22 img {
    object-fit: cover;
    height: 150px;
    width: 240px;
}

.cont22 h2 {
    font-size: 16px;
    font-family: "Spicy Rice", serif;
    font-weight: lighter;
    text-align: center;
    color: rgb(0, 4, 219);
}

.cont22 p {
    font-family: "Exo 2", sans-serif;
    font-size: 12px;
    text-align: left;
    color: white;
}

.cont4 {
    position: relative;
    z-index: -1;
}

.cont4 img {
    object-fit: cover;
    height: 300px;
    width: 100%;
}

footer {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    box-shadow: 0 -30px 40px black;
}

.fot1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.fot1 h2 {
    font-size: 30px;
    color: white;
    font-family: "Satisfy", serif;
}

.fot1 img {
    height: 60px;
}

.fot2 ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.fot2 li {
    text-align: center;
    padding: 20px 7px;
}

.fot2 a {
    color: white;
    text-decoration: none;
    font-family: "Spicy Rice", serif;
}

.fot2 a:hover {
    color: #ffd000;
}

footer h2 {
    color: rgb(177, 177, 177);
    font-size: 15px;
    text-align: center;
    font-family: "Exo 2", sans-serif;
    padding: 10px 0;
}